@font-face {
    font-family: "ddg-serp-icons";
    src: url("fonts/ddg-serp-icons.woff") format("woff");
}

@font-face {
    font-family: "proxima";
    src: url("fonts/proximanova-regular.woff2") format("woff");
}
@font-face {
    font-family: "proximaSemiBold";
    src: url("fonts/proximanova-semibold.woff2") format("woff");
}
@font-face {
    font-family: "proximaBold";
    src: url("fonts/proximanova-bold.woff2") format("woff");
}
@font-face {
    font-family: "proximaExtraBold";
    src: url("fonts/proximanova-extrabold.woff2") format("woff");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #f7f7f7;
    font-size: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

/* HEADER */
.header-nav-container {
    padding: 1px 23px 0 23px;
}
.header-nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 22px;
    -webkit-font-smoothing: antialiased;
}

.header-button {
    font-family: "ddg-serp-icons";
    font-size: 16px;
    text-decoration: none;
    padding: 8px;
    color: #a5a5a5;
    border-radius: 4px;
    margin-left: 20px;
    margin-right: -8px;
}

.icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: "ddg-serp-icons";
    color: #aaa;
    margin-top: 1.5px;
}

.header-social-menu span:hover {
    color: #6d6d6d;
}

.header-button:hover {
    color: white;
    background-color: #6d6d6d;
}

.horn {
    margin: 0;
}
.horn:before {
    content: "\48";
    font-size: 25px;
}
.down {
    margin-left: 5px;
    margin-top: 3px;
    margin-right: 1px;
}
.down:before {
    content: "\76";
}

/* MAIN */

.main-container-wrapper {
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
.logo-link {
    margin: 14px 0 36px;
}
.logo {
    width: 200px;
    height: 162px;
    background-image: url(img/logo_homepage.normal.v108.svg);
    background-size: 100% 100%;
    margin: 0;
}

/*  SEARCHBAR */

.search-wrapper {
    margin-left: 7px;
    margin-right: 7px;
}
form {
    max-width: 665px;
    margin: 0 auto;
    padding-left: 1em;
    padding-top: 1px;
    padding-left: 1em;
    padding-top: 1px;
    box-sizing: border-box;
    border-radius: 4px;
    height: 46px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 3px rgb(0 0 0 / 6%);
    position: relative;
}
.search-input {
    width: 100%;
    border: none;
    margin-top: 0;
    height: 2.5em;
    position: relative;
    font-size: 1.25em;
    font-weight: normal;
    background: none;
    outline: none;
    padding-right: 3em;
    padding-left: 2px;
    font-family: "proxima", sans-serif;
}
input::placeholder {
    opacity: 0.9;
    color: #999;
}

.search-button,
.search-clear {
    font-family: "ddg-serp-icons";
}

.search-button {
    position: absolute;
    font-size: 1.42em;
    width: 55px;
    color: #999;
    background-color: transparent;
    -webkit-font-smoothing: subpixel-antialiased;
    border: none;
    top: 0;
    right: 0;
    left: auto;
    bottom: 0;
    border-radius: 0 4px 4px 0;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-right: -2px;
    cursor: pointer;
}
.search-button:hover {
    background-color: #2950bf;
    color: white;
}

/* CONTENT */

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 32px auto 48px;
}

.content-container h1 {
    font-family: "proximaExtraBold", sans-serif;
    font-size: 32px;
    color: #353748;
    text-align: center;
    margin-bottom: auto;
    padding: 0 0 5px;
    line-height: 42px;
}

.content {
    margin: 0 auto;
    padding: 0;
    max-width: none;
    color: #353748;
    font-size: 17px;
    line-height: 28px;
    font-weight: normal;
    font-family: "proxima", sans-serif;
}

.content-list {
    margin-top: 3px;
}

ol {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.content-list-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 22px;
}

li svg {
    margin-right: 6px;
    margin-bottom: 1px;
}
.content-list-badge span {
    font-family: "proximaSemiBold", sans-serif;
    font-size: 17px;
    color: #353748;
    line-height: 1.3em;
}

.nm {
    margin-right: 0px;
}

.link-button {
    display: flex;
    height: 43px;
    min-height: 44px;
    margin: 0;
    margin-top: 23px;
    width: 100%;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    background-color: #678fff !important;
    border-color: #678fff !important;
    box-sizing: border-box;
    border-radius: 10px;
    white-space: normal;
    color: white;
    padding: 2px 15px;
    font-family: "proximaSemiBold", sans-serif;
}

.badge-link {
    margin: 15px auto 0;
    padding: 0;
    font-size: 12px;
    font-family: "proximaSemiBold", sans-serif;
    color: #333;
}
